# Database Configuration
DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/postgres

# Server Configuration
SERVER_HOST=[::]
SERVER_PORT=50020
QUERY_SERVER_PORT=50021

# Logging
RUST_LOG=info

# Application Configuration
BITRADE_DATABASE_POOL_SIZE=10
